.frontCard {
  position: absolute;
  bottom: -40px;
  left: 20px;

  width: 286px;
  height: 157px;
  border-radius: 10px;

  background-image: url("../../images/bg-card-front.png");
  background-size: cover;
}

.cardInfo {
  position: relative;
}

.cardInfo img {
  position: absolute;
  top: 20px;
  left: 20px;

  width: 54px;
}

.cardDetails {
  position: absolute;
  top: 80px;

  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  color: var(--color-white);
}

.cardNumber {
  margin-bottom: 15px;

  font-size: 1.2rem;
  letter-spacing: 2.2px;
}

.cardDetails--HolderExpiry {
  display: flex;
  justify-content: space-between;

  font-size: 0.8rem;
  text-transform: uppercase;
}
