.backCard {
  position: absolute;
  top: 30px;
  right: 20px;

  width: 286px;
  height: 157px;
  border-radius: 10px;

  background-image: url("../../images/bg-card-back.png");
  background-size: cover;
}

.cvc {
  position: absolute;
  top: 68px;
  right: 30px;

  font-size: 0.9rem;
  color: var(--color-white);
}
