/*@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");*/

:root {
  --color-active-input: linear-gradient(
    90deg,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  --color-active-input-start: hsl(249, 99%, 64%);
  --color-active-input-end: hsl(278, 94%, 30%);
  --color-input-error: hsl(0, 100%, 66%);
  --color-white: hsl(0, 0%, 100%);
  --color-lightGrayishViolet: hsl(270, 3%, 87%);
  --color-darkGrayishViolet: hsl(279, 6%, 55%);
  --color-veryDarkViolet: hsl(278, 68%, 11%);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: var(--color-white);

  color: var(--color-veryDarkViolet);
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  letter-spacing: 1px;
}
